body {
  background-color: pink;
  color: #000;
}

* {
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 70vh;
}

form {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 1rem;
}

input,
button {
  padding: 0.3rem;
  border-radius: 5px;
}

input {
  outline: none;
  border: none;
  font-size: 1.5rem;
  padding-left: 0.7rem;
}

input::placeholder {
  font-size: 1.3rem;
}

button {
  font-size: 1.5rem;
  outline: none;
  border: none;
  background: #fff;
}

button:hover {
  background-color: #eee;
  cursor: pointer;
}

.answer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  letter-spacing: 1rem;
  padding-left: 1rem;
  text-transform: uppercase;
  font-size: 1.5rem;
}
