body {
  background-color: rgb(50, 50, 50);
  color: #fff;
}

* {
  font-family: sans-serif;
}

.container {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 70vh;
}

form {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 1rem;
}

input {
  outline: none;
  border: none;
  font-size: 1.5rem;
}

button {
  font-size: 1.5rem;
  outline: none;
  border: none;
}

button:hover {
  background-color: #aaa;
  cursor: pointer;
}

.answer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  letter-spacing: 1rem;
  padding-left: 1rem;
  text-transform: uppercase;
  font-size: 1.5rem;
}
