body {
  background-color: rgb(50, 50, 50);
  color: #fff;
}

* {
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 70vh;
}

form {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 1rem;
}

input {
  outline: none;
  border: none;
  font-size: 1.5rem;
}

button {
  font-size: 1.5rem;
  outline: none;
  border: none;
}